
<h1>Calculate 2 Numbers</h1>

<div class="body_div" ng-controller="TodoCtrl">
    <form #numsForm >
        <h2>Number 1: <input #first type="text" ng-model="one" (input)="numOne=$event.target.value"></h2>
        <h2>Number 2: <input type="text" ng-model="two" (input)="numTwo=$event.target.value"></h2>
        <br>

      <div class="button_div">
        <button (click)="addNums()" type="button" name="button">Add</button>
        <button (click)="subtractNums()" type="button" name="button">Subtract</button>

        <br>
        <button class="example_b" (click)="multiplyNums()" type="button" name="button">Multiply</button>
        <button (click)="divideNums()" type="button" name="button">Divide</button>
        <br>
        <button (click)="numsForm.reset()">Refresh</button>
      </div>

    <h1>{{total}}</h1>
    </form>

  </div>
