/* You can add global styles to this file, and also import other style files */


h2 {
  font-size: 25px;
  color: blue;
};

html,
body {
     height: 100%;
     overflow: hidden;
}

body {
     text-align: center;
     -webkit-font-smoothing: antialiased;

     display: flex;
     align-items: center;
     justify-content: center;

}

button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #60a3bc;
  padding: 20px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
};

.button_div {
  display: flex;
  justify-content: space-between;
}

{/*.example_b:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}*/}
